.btn {
  display: inline-block;
  width: 256px;
  padding: 14px 0;

  border: 2px solid @text-color-lighter;
  background-color: @background-color;

  color: @btn-text-color;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  cursor: pointer;

  &:hover {
    background-color: @text-color-lighter;
    color: @background-color;
  }

  &:active {
    color: @text-color-active;
  }
}
