@tablet-width: 768px;
@desktop-width: 1150px;
@mobile-width-only: 767px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@text-color: #000000;
@text-color-lighter: #444444;
@contrast-text-color: #ffffff;
@background-color: #ffffff;
@background-extra-color: #f9f9f9;
@btn-text-color: #444444;
@contrast-color: #63d1bb;
@contrast-extra-color: #56c3b2;
@contrast-btn-color: #f2f2f2;
@contrast-darker-btn-color: #ebebeb;
@blocks-background-color: #f1f1f1;
@link-color: #000000;
@link-darker-color: #666666;
@link-extra-color: #b2b2b2;
@border-color: #e6e6e6;
@border-extra-color: #62d1ba;
@border-color-active: #222222;
@contrast-text-color-hover: rgba(255, 255, 255, 0.6);
@contrast-text-color-active: rgba(255, 255, 255, 0.3);
@text-color-hover: rgba(0, 0, 0, 0.6);
@text-color-active: #7c7c7c;
@border-darker-color: #cdcdcd;
@border-lighter-color: #c6c6c6;
@contrast-line-color: #ffffff;
@placeholder-text-color: #444444;
@icon-color: #d3d2d2;
@icon-extra-color: #46c1ae;
@icon-darker-color: #231f20;
